// 用于重写默认颜色常量，或者设置新的 stylus 颜色常量

$accentColor = #406cff // 主题色
$textColor = #303133 // 文字颜色


// 官方默认配色
// $accentColor = #406cff //主题色
// $textColor = #303133 //文字颜色
$borderColor = #ebeef5  //边框颜色
$codeBgColor = #f2f6fc  //代码背景色